@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$theme-colors: (
  'dark': #303952,
);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: map-get($theme-colors, dark);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
}

h3{
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
}

.col-half{
  width: 50%;
}

.mx-auto{
  margin: 0 auto;
}
